/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

i {
  color: #a2678a;
}

.card {
  width: 40vw;
  text-align: left;
}

@media only screen and (max-width: 1000px) {
  .card {
    width: 80vw;
  }
}
